.body{
    width:100%;
    height:100%;
    background:white;
}
.div_div{
    width:100%;
    height:100%;
    margin:0 auto;
}
.div1{
    background:url("../images/ba1.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div2{
    background:url("../images/ba2.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div3{
    background:url("../images/ba3.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div4{
    background:url("../images/ba4.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div5{
    background:url("../images/ba5.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div6{
    background:url("../images/ba6.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div7{
    background:url("../images/ba7.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div8{
    background:url("../images/ba8.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div9{
    background:url("../images/ba9.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div10{
    background:url("../images/ba10.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div11{
    background:url("../images/ba11.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div12{
    background:url("../images/ba12.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div13{
    background:url("../images/ba13.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div14{
    background:url("../images/ba14.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div15{
    background:url("../images/ba15.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div16{
    background:url("../images/ba16.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div17{
    background:url("../images/ba17.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div18{
    background:url("../images/ba18.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div19{
    background:url("../images/ba19.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div20{
    background:url("../images/ba20.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div21{
    background:url("../images/ba21.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div22{
    background:url("../images/ba22.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div23{
    background:url("../images/ba23.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div24{
    background:url("../images/ba24.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div25{
    background:url("../images/ba25.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div26{
    background:url("../images/ba26.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div27{
    background:url("../images/ba27.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div28{
    background:url("../images/ba28.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div29{
    background:url("../images/ba29.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div30{
    background:url("../images/ba30.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div31{
    background:url("../images/ba31.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div32{
    background:url("../images/ba32.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div33{
    background:url("../images/ba33.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div34{
    background:url("../images/ba34.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div35{
    background:url("../images/ba35.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div36{
    background:url("../images/ba36.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div37{
    background:url("../images/ba37.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div38{
    background:url("../images/ba38.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}
.div39{
    background:url("../images/ba39.jpg");
    width:1200px;
    height: 200px;
    margin:0 auto;
}